body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --maincolor: #eee;
    --websitecolor: #1d2a35;
    --fontcolor: #fff;
    --containercolorondarkm: #1b1b32;
}

.container {
    position: absolute;
    background-color: var(--maincolor);
    width: 250px;
    height: fit-content;
    padding: 20px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow-y: auto;
    z-index: 5;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

p {
    text-align: center;
    z-index: 5;
}

.sub {
    position: absolute;
    background-color: var(--websitecolor);
    padding: 10px;
    color: var(--fontcolor);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    z-index: 5;
    user-select: none;
}

.sub:hover {
    opacity: 90%;
}

.fa-moon {
    position: absolute;
    top: 20px;
    font-size: 25px;
    right: 10px;
    padding: 10px;
    background-color: var(--websitecolor);
    color: var(--fontcolor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    z-index: 5;
}
.fas:hover {
    opacity: 90%;
}

.slide {
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: var(--websitecolor);
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    z-index: 0;
}

.fa-sun {
    font-size: 30px;
    background-color: white;
    color: #1d2a35;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    z-index: 5;
    position: absolute;
    top: 20px;
    font-size: 25px;
    right: 10px;
    padding: 10px;
}

.active {
    display: none;
}

.fa-language {
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    z-index: 5;
    position: absolute;
    top: 20px;
    font-size: 25px;
    left: 10px;
    padding: 10px;
    background-color: var(--fontcolor);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.google {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 5;
}

.copy {
    color: white;
    text-align: center;
    background-color: var(--websitecolor);
    width: fit-content;
    margin-left: 75px;
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

#suc {
    z-index: 10;
    background-color: var(--containercolorondarkm);
    position: absolute;
    color: white;
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0%;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 100%;
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
}
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0%;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 100%;
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
}
}



.joe {
    text-align: center;
    color: white;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 1;
}

.link {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #4b79cf;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 3px;
    z-index: 1;
}

.link:hover {
    box-shadow: inset 100px 0 0 0 white;
    color: black;
}

a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #4b79cf;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 3px;
    z-index: 1;
    text-align: center;
}

.fa-brands {
    margin-left: 3px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    z-index: 1;
}

.fa-brands:hover {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
